# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
/Emuander/.vs/Emuander/v15
/Emuander/readme
/bin/
/Emuander/obj/x64
/Emuander/Emuander.vcxproj.user
/Emuander/x64/Debug
/Emuander Windows/x64/Debug
/Emuander Windows/Emuander Windows.vcxproj.user
/Emuander/.vs
/Emuander Linux/obj/x64/Debug
/x64/Debug
/Emuander Linux/obj/x64/Release
/Emuander Windows/x64/Release
/x64/Release
