# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
VS*Projects/bin/
VS*Projects/Emuander Windows/x64/Debug
VS*Projects/Emuander Windows/Emuander Windows.vcxproj.user
VS*Projects/Emuander Linux/obj/x64/Debug
VS*Projects/x64/Debug
VS*Projects/Emuander Linux/obj/x64/Release
VS*Projects/Emuander Windows/x64/Release
VS*Projects/x64/Release
VS*Projects/Emuander Linux/projects/Emuander/temp/obj/x64/Debug
VS*Projects/Emuander Linux/projects/temp/obj/x64/Debug
VS*Projects/Emuander Linux/temp/obj/x64/Debug
VS*Projects/Emuander Linux/~
*.user
VS*Projects/EmuanderCore Linux/temp/obj/x64/Debug
/temp/obj/x64
/Tests/x64/Release
VS*Projects/Emuander Linux/Output/Temp/obj/x64
VS*Projects/Emuander Windows/Output/Temp/x64/Debug
VS*Projects/EmuanderCore Linux/Output/Temp/obj/x64
/examples/
/Output
